.underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #0f0047; /* Default text color */
  transition: color 0.3s ease;
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f0047; /* Default underline color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.underline-animation:hover {
  color: #0f0047;  /* Text color on hover */
}

/* Change text color to purple when scrolled */
.bg-transparent .underline-animation {
  color: #0f0047;
}

/* Change underline color to purple when scrolled */
.bg-transparent .underline-animation::before {
  background-color: #0f0047;
}

/* Hover styles remain the same */
.bg-transparent .underline-animation:hover {
  color: #0f0047; /* Text color on hover */
}

.underline-animation:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.underline-right {
  position: relative;
  overflow: hidden;
}

.underline-right::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -1px;
  background: #4F46E5; /* This color should match the text color */
  height: 2px;
  transition: all .3s linear;
}

.underline-right:hover::after {
  width: 100%;
  left: 0;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

